{% extends 'base.html.twig' %}

{% block body %}
    <h1>Person</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ person.name }}</td>
            </tr>
            <tr>
                <th>Profileimageurl</th>
                <td>{{ person.profileImageUrl }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ person.description }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ person.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ person.country }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('users_edit', { 'id': person.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
